
.body{
    margin: 0;
    background-color: rgb(255, 177, 208);} 
.logo{
    flex: 20%;
    text-align: center;}
.logo h1{
    font-family: Arial, Helvetica, sans-serif;color: white;
    font-size: 30px;}
.navbar{
    display: flex;
    flex-flow: row wrap;
    height: 100px;
    justify-content: center;
    align-items: center;
    background-color: rgb(31, 24, 116);
    margin-left: 100px;
    margin-right: 100px;}
.menu{
    flex: 70%;
    text-align: right;
    padding: 20px;}
.menu a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 16px;}
.menu a:hover{
    color: pink;
    border-top: 4px solid rgb(249, 25, 119); }
#botao{
    color: white;
    border-radius: 5px;}
#botao:hover{
    border: none;
    background: gray;
    color: white
    }
section{
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5%;
    text-align: center;
    width: 90%; }
section h2{
    width: 100%;
    font-size: 50px;
    margin: 0; }
section h3{
    margin: 0;
    font-size: 20px; }
.card{
    display: inline-block;
    width: 300px;
    height: 300px;
    padding: 20px;
    margin: 1%;
    border: 1px solid rgb(249, 25, 119); }
.preco{
    font-size: 20px;
    color: red; }
.botaosobre{
    background: green;
    padding: 10px;
    color: red;
    text-decoration: none; }
.botaosobre:hover{
    background: black; }

.pão de morango{
    margin-right: 30%
}
